*.DS_Store
temp/
BlueBirdConnector/target/*
BlueBirdConnector/out/artifacts/BlueBirdConnector_jar/BlueBirdWindowsCL.exe
BlueBirdConnector/libs/freetts-unpacked/META-INF
BlueBirdConnector/libs/freetts-unpacked/com
BlueBirdWindowsCL/obj/*
BlueBirdWindowsCL/bin/*
Package/BlueBird Connector/*
Package/BIRDBRAIN.pfx
Package/command.txt
Package/tempFiles/*

# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.msi


# Sensitive or high-churn files
*/.idea/**/dataSources/
*/.idea/**/dataSources.ids
*/.idea/**/dataSources.local.xml
*/.idea/**/sqlDataSources.xml
*/.idea/**/dynamic.xml
*/.idea/**/uiDesigner.xml
*/.idea/**/dbnavigator.xml

# Gradle
*/.idea/**/gradle.xml
*/.idea/**/libraries


# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates



# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
